<table class="table table-hover table-bordered well well-sm">
    <thead>
      <td><h2>street-id</h2></td>
      <td><h2>street-name</h2></td>
      <td><h2>street-type</h2></td>
    </thead>
  <tbody>
    <tr *ngFor="let item of streetList, let i=index">

      <td>
        {{item.streetId}}
      </td>

      <td>
        {{item.streetName}}
        <!--<input
            class="form-control"
            id   ="nombre_{{item.streetId}}"
            name ="nombre_{{item.streetId}}"
            [value]="item.streetName">-->
      </td>

      <td>
        {{item.streetType}}
        <!--<input
            class="form-control"
            id   ="type_{{item.streetId}}"
            name ="type_{{item.streetId}}"
            [value]="item.streetType">-->
      </td>
    </tr>
  </tbody>
</table>
