<div class="container">
  <div class = "row">

    <div class="col-md-4 col-sm-6 col-xs-12">

        <h3>Adress:</h3>
        <small>
           Chem. des Pensionnats 2/6, 1752 Villars-sur-Glâne, Suiza
        </small>

        <h3>Phone:</h3>
      <small>
        +41263060000
      </small>


        <h3>Mail:</h3>
      <small>
        <a href="mailto:info@democracy.com">info@democracy.com</a>
      </small>
      <br /><br />
    </div>


    <br/>


    <div class="col-xs-12 col-md-6 col-lg-6">



    </div>
    <span>&copy; Democracy All rights reserved</span>

  </div>

</div>
